html,
body {
  font-family: 'helvetica', sans-serif;
  color: #404040;
  background-color: #969696;
  border-radius: 15px;
}

    <script type="text/javascript" src="twitler.js"></script>

.title{

	position: relative;
    right: 0px;
    width: 300px;
    border-radius: 15px;

}

h1{
  margin-top: 55px;
  font-size: 72px;
}
.header{
	font-family: Georgia,Times,"Times New Roman",serif;
	color: rgb(210,211,250);
	font-size: 40px;
	background-color: grey;
	margin: -50px 0 0 0;
	border-radius: 15px;
  text-align: center;
}



.outside{
background-color:#DCDCDC;
	border-radius:15px;
	margin: -50px 0 0 0;
}


.container{
	background-color:#292f33;
	border-radius:15px;
	margin: 60px;
  height: 225px;
}

.post{

	margin: 30px 40px 5px 40px;
	font-size:25px;
	width: 92%;
	border-radius:15px;
	text-indent: 20px;
	height: 70px;


}


.counter{
  position: relative;
  bottom: 63px;
  font-size: 35px;
  color: #b3d9d9;
  margin-left: 800px;
}




.press{
	display: block;
	background-color: #b3d9d9;
  color: #292f33;
  margin-left: 930px;
  font-size: 35px;
  padding: 15px 25px;
  border-radius: 15px;
  cursor: pointer;
}

.press:hover{
	background: pink;
	color: blue;
	}




.posts {
	background-color: #dcdcdc;
  margin-bottom: 10px;
  list-style: none;
  min-height: 35px;
  width: 46%;
  border-radius: 15px;
}

.posts li:hover{

}

.posts li {
  cursor: pointer;
	background: #c09d78 url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/thumbnails/unified_right_rail/thumbnails/69x75_thumbnail_dog_breed_rmq.jpg) left no-repeat;  
  background-color: #fff;
  border: 5px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 35px;
  border-radius: 15px;
  text-align:center;
  text-indent: 65px;

}

.selected{
  float: right;
  margin-bottom: 10px;
  list-style: none;
  min-height: 35px;
  width: 46%;
  border-radius: 15px;
  }

.wrap li{
  width: 100%;
  list-style: none;
  background-color: #dcdcdc;
  border: 5px solid #d8d8d8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:15px;
  margin-bottom: 10px;
  margin-left: -35px;
  word-wrap: break-word;
  border-radius: 15px;
  text-align: center;
  text-indent: 0px;
  min-height: 35px;
}

.only{
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  padding-top: -20px;
}

.row{
  width: 92%;
  text-align: center;
  list-style: none;
  background-color:#969696;
  margin: 0 50px 20px 50px;
  display: inline-block;
  top: 500px;
  font-size: 30px;
  border-radius: 15px;
  font-weight: bold;
}

#douglas{
  background-color: #fff;
  border-radius: 15px;
  margin: 0 0;

}

#mracus{
background-color: #dcdcdc;
border-radius: 15px;
}

#sharks{
  background-color: #fff;
  border-radius: 15px;
}
#shawn{
  background-color: #dcdcdc;
  border-radius: 15px;
}

h4,h3{
  display: inline;
  font-size: 35px;

  margin-top: -30px;
  margin-left: 250px;
  margin-right: 185px;
}